<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h2><a href="https://localhost:4000"></a></h2> -->
    <h2>
        텍스트 <%= postCounts %>
    </h2>
    <ul>
        <% if(postCounts > 0) { %>
            <% for(let i=0; i<postCounts; i++) { %>
                <li>
                    <p>
                        <!-- 데이를 받고 싶을땐 <%= %> -->
                        TEXT : <%= POST[i].text %>
                    </p>
                </li>
                <li>
                    <p>
                        CONTENT : <%= POST[i].content %>
                    </p>
                </li>
            </br>
            <% } %>
        <% } else {%>
        <li>내용이 잘못 되었습니다.</li>
        <% } %>
    </ul>
    <form action="/post/add" method="post">
        <div>
            <label for="text">텍스트</label>
            <input type="text" name="text">
        </div>
        <div>
            <label for="content">콘텐츠</label>
            <input type="text" name="content">
        </div>
        <button type="submit">제출</button>  
    </form>
</body>
</html>